
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialIconsOutlined-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Sora-Variable.ttf) format('truetype');
}
@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Sora-Variable.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Quicksand-Variable.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Quicksand-Variable.ttf) format('truetype');
}

:root {
    --bgD: #1a1b1d;
    --bg: #202124;
    --bgL: #292a2e;
    --bgLL: #43444B;
    --bgLLL: #56575f;
    --fgDDD: #898a92;
    --fgDD: #a7a8b1;
    --fgD: #d2d4e0;
    --fg: #fff;
    --acc: #6cc9ff;
    --accL: #92d7ff;
    --accLL: #b1e2ff;
    --fgErr: rgb(255, 104, 104);
    --fgGood: rgb(122, 255, 104);
}

* {
    font-family: "Sora", "Segoe UI", sans-serif;
    color: var(--fg);
    font-size: 16px;
    user-select: none;
}

body {
    background: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.4em;
    margin-top: 0.2em;
    font-family: "Quicksand";
    font-weight: bold;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.6em;
    line-height: 150%;
}

ul, ol {
    margin: 0px;
    margin-left: 30px;
    padding: 0px;
    margin-bottom: 10px;
}
li {
    line-height: 150%;
}

a {
    color: var(--acc);
    text-decoration: none;
}
a:hover, a:focus {
    color: var(--fgD);
    text-decoration: underline;
}

small {
    font-size: 14px;
    line-height: 1;
    color: var(--fgDD);
}

span {
    color: inherit;
    font-size: inherit;
}

#titlebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 12px);
    height: 32px;
    padding: 4px 6px;
    z-index: 100;
}
#titlebar #drag {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}
#titlebar #drag .controlBtn {
    width: 46px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Material Icons Outlined";
    font-size: 16px;
    -webkit-app-region: no-drag;
    /* background: var(--bg); */
    color: var(--fgD);
    border-radius: 6px;
    transition: 0.1s ease-in-out;
}
#titlebar #drag .controlBtn:hover {
    background: var(--bgLL);
}
#titlebar #drag #windowClose.controlBtn {
    font-size: 18px;
}
#titlebar #drag #windowClose.controlBtn:hover {
    background: var(--fgErr);
    color: var(--bg);
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 100%;
    padding: 16px 8px;
    background: var(--bgD);
    z-index: 5;
    overflow-y: scroll;
}
#sidebar::-webkit-scrollbar {
    width: 0px;
}

#sidebar .title {
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 24px;
    padding: 12px 10px;
}

#sidebar .item {
    width: 100%;
    margin: 2px 0px;
    padding: 10px 15px;
    border-radius: 6px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    transition: 0.1s ease-in-out;
}
#sidebar .item .indicator {
    margin-left: -6px;
    margin-right: 10px;
    width: 3px;
    height: 24px;
    border-radius: 3px;
    background: var(--bgL);
    transition: 0.1s ease-in-out;
}
#sidebar .item.selected .indicator { background: var(--acc) }
#sidebar .item .icon {
    font-family: "Material Icons Outlined";
    font-size: 24px;
    line-height: 100%;
    color: var(--fgD);
    transition: 0.1s ease-in-out;
}
#sidebar .item.selected .icon { color: var(--accLL) }
#sidebar .item:disabled .icon { color: var(--fgDDD) }
#sidebar .item .name {
    font-size: 16px;
    line-height: 100%;
    color: var(--fgD);
    padding-left: 15px;
    margin-top: 1px;
    transition: 0.1s ease-in-out;
}
#sidebar .item.selected .name { color: var(--accLL) }
#sidebar .item:disabled .name { color: var(--fgDDD) }
#sidebar .item:hover:not(:disabled),
#sidebar .item:focus:not(:disabled) {
    background: var(--bgL);
}
#sidebar .item:hover:not(:disabled) > .indicator,
#sidebar .item:focus:not(:disabled) > .indicator {
    background: var(--bgLL);
}
#sidebar .item.selected:hover > .indicator,
#sidebar .item.selected:focus > .indicator {
    background: var(--accL);
}
#sidebar .separator {
    width: calc(100% - 60px);
    height: 1px;
    margin: 8px 30px;
    background: var(--bgLL);
}

#main {
    position: fixed;
    top: 40px;
    left: 240px;
    height: calc(100% - 40px);
    width: calc(100% - 240px);
    padding: 0px 20px 15px 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#main .section {
    position: absolute;
    padding-right: 10px;
    margin-top: 100px;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
#main .section.visible {
    opacity: 1;
    margin-top: 0px;
}

.popupCont {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    transition: 0.1s ease-in-out;
}
.popupCont.visible {
    opacity: 1;
}
.popup {
    position: relative;
    max-height: 100%;
    max-width: 800px;
    margin: auto;
    background: var(--bg);
    border-radius: 12px;
}
.popup .titlebar {
    display: flex;
    align-items: center;
    padding: 15px 15px 10px 15px;
}
.popup .titlebar .title {
    flex-grow: 1;
    font-family: "Quicksand";
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
}
.popup .titlebar .close {
    margin-top: 2px;
    margin-left: 15px;
    font-family: "Material Icons Outlined";
    font-size: 26px;
    color: var(--fgDD);
    line-height: 1;
    border: none;
    outline: none;
    background: none;
    transition: 0.1s ease-in-out;
}
.popup .titlebar .close:hover,
.popup .titlebar .close:focus {
    color: var(--fgD);
}
.popup .content {
    padding: 0px 15px 17px 15px;
}

#keyInputCont {
    padding: 8px 12px;
    font-family: "Quicksand";
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    background: var(--bgD);
    border-radius: 6px;
}

.btn {
    box-sizing: border-box;
    height: 38px;
    margin: 3px;
    padding: 1px 16px 2px 16px;
    background: var(--acc);
    color: var(--bg);
    font-size: 15px;
    outline: none;
    border: none;
    border: 2px solid var(--acc);
    border-radius: 6px;
    transition: 0.1s ease-in-out;
}
.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background: var(--fgD);
    border-color: var(--fgD);
}
.btn:active:not(:disabled) {
    background: var(--fg);
    border-color: var(--fg);
}
.btn:disabled {
    background: var(--bgL);
    border-color: var(--bgL);
    color: var(--fgDDD);
}

.textbox {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    margin: 3px;
    padding: 0px 16px;
    background: var(--bgD);
    color: var(--fg);
    font-size: 15px;
    outline: none;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    transition: 0.1s ease-in-out;
}
.textbox::-webkit-inner-spin-button { -webkit-appearance: none; }

.textbox:hover {
    border-color: var(--bgLL);
}
.textbox:focus:not(:disabled) {
    border-color: var(--acc);
}
.textbox::placeholder {
    color: var(--fgDDD);
}

.inputWrapper {
    position: relative;
    box-sizing: border-box;
}
.inputWrapper::after {
    position: absolute;
    top: 10px;
    right: 0px;
    height: calc(100% - 20px);
    width: 40px;
    background: var(--bgD);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    color: var(--acc);
    font-family: "Material Icons Outlined";
    font-size: 22px;
    pointer-events: none;
}
.inputWrapper.dropdown::after {
    content: "expand_more";
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.checkbox {
    border: none;
    outline: none;
    background: none;
    display: flex;
    align-items: center;
    margin: 5px 3px;
    text-align: left;
}
.checkbox::before {
    margin-top: -2px;
    padding-right: 10px;
    font-family: "Material Icons";
    font-size: 28px;
    color: var(--fgDD);
    content: "check_box_outline_blank";
    transition: 0.1s ease-in-out;
}
.checkbox:not(.selected):hover::before {
    color: var(--fgD);
}
.checkbox.selected::before {
    content: "check_box";
    color: var(--acc);
}
.checkbox.selected:hover::before {
    color: var(--accL);
}

.flex { display: flex; }
.flex.centerVertical { align-items: center; }
.flex.centerHorizontal { justify-content: center; }
.flex.topVertical { align-items: flex-start; }
.flex.row {
    flex-direction: row;
    justify-content: flex-start;
    gap: 6px;
}
.inlineBlock { display: inline-block; }
.inline { display: inline; }
.block { display: block; }
.hidden { display: none; }
.contPad {
    margin: 3px;
    box-sizing: border-box;
}
.contPad *:not(::after) {
    margin: 0px;
}

/* Custom text highlight */
::selection {
    background: rgba(255, 255, 255, 0.3);
}

/* Custom scrollabrs */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-resizer {
    background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: var(--fgDD);
    border-radius: 100px;
    background-clip: padding-box;
    border: 6px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--fg);
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:active {
    background: var(--acc);
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);
}